/* move.html */
/* 투두 메뉴 */
.container-todo {
  position: fixed;
  top: 50px;
  right: 100px;
  background-color: black;
  color: white;
  width: 400px;
  padding: 20px;
  display: grid;
  grid-template-rows: min-content 5fr;
  justify-content: center;
  border-radius: 50px;
}

.title-todo,
.todo-list {
  text-align: center;
}

.title-todo span {
  font-size: 30px;
  margin: 30px;
}

.todo-list {
  width: inherit;
}

.todo-list-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.todo-list-section div {
  font-size: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.todo-list-section div:hover {
  color: #6063dc;
  border-bottom: 1px solid #6063dc;
}

.selected {
  color: #6063dc;
}

.todo-form,
#todo-list div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

input {
  width: 300px;
  height: 40px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid white;
  background-color: black;
  color: white;
  font-family: "neodgm", sans-serif;
}

/* 채팅 메뉴 */
.container-chat {
  display: flex;
  position: fixed;
  bottom: 30px;
  left: 70px;
}
